<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <button type="button" id="sidebarCollapse" class="btn btn-link">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </div>
    <div class="menuItems">
      <ul class="list-unstyled">
        <li>
          <a href="#dartaSubmenu" data-toggle="collapse">
            <i class="fas fa-sign-in-alt"></i>
             दर्ता
          </a>
          <ul class="collapse list-unstyled text-left" id="dartaSubmenu">
            <li>
              <a routerLink="/add-darta" routerLinkActive="active">नयाँ</a>
            </li>
            <li>
              <a routerLink="/darta" routerLinkActive="active">दर्ताको सूची</a>
            </li>
            <li>
              <a routerLink="/search-darta" routerLinkActive="active">खोज</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#chalaniSubmenu" data-toggle="collapse">
            <i class="fas fa-sign-out-alt"></i>
            चलानी
          </a>
          <ul class="collapse list-unstyled" id="chalaniSubmenu">
            <li>
              <a routerLink="/add-chalani" routerLinkActive="active">नयाँ</a>
            </li>
            <li>
              <a routerLink="/chalani" routerLinkActive="active">चलानिको सूची</a>
            </li>
            <li>
              <a routerLink="/search-chalani" routerLinkActive="active">खोज</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    
    
  </nav>

  <!-- Page Content Holder -->
  <div id="content" >
      <nav class="navbar justify-content-end navbar-dark bg-dark">
          <a routerLink="/" routerLinkActive="active" class="nav-link">ड्यासबोर्ड</a>
          <a routerLink="/settings" routerLinkActive="active" class="nav-link">सेटिग्स</a>
          <a routerLink="/profile" routerLinkActive="active" class="nav-link">प्रोफाइल</a>        
      </nav>
    <div id="routerContent">
      <router-outlet></router-outlet>
    </div>
    <div style="position: inline-block">
        <img src="assets/Emblem_of_Nepal.svg" style="position: absolute;bottom: 40px;right: 30px; height: 60px;width:63px;">
    </div>
  </div>
</div>
<footer class="fixed-bottom">
Well, Hello there matey! I am footer.
</footer>