<div>
  <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>दर्ता नं.</label>
          <input type="number" class="form-control" id="dartaNo" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label>दर्ता मिति</label>
          <input type="date" class="form-control" id="dartaDate" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label>प्राप्त भएको पत्र संख्या</label>
          <input type="number" class="form-control" id="dartaPages" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label>प्राप्त भएको पत्रको मिति</label>
          <input type="date" class="form-control" id="dartaPagesDate" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>पठाउने अफिसको नाम</label>
          <input type="text" class="form-control" id="dartaAddress" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>विषय</label>
          <textarea type="text" class="form-control" rows="3" id="dartaSubject" placeholder=""></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-3"> 
          <label>बुझिलिने फाटवालाको नाम</label>
          <input type="text" class="form-control" id="dartaDeptName" placeholder="">
        </div>
        <div class="form-group col-3">
          <label>मिति</label>
          <input type="date" class="form-control" id="dartaDeptDate" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <label>कैफियत</label>
          <textarea type="text" class="form-control" rows="3" id="dartaRemarks" placeholder=""></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>