<div *ngIf="flag">
    <div class="table-responsive-sm">
        <table datatable [dtOptions]="dtOptions" dtInstance="dtInstance" width="100%" cellspacing="0" cellpadding="0" class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th width="5%">दर्ता नं</th>
                    <th width="8%">दर्ता मिति</th>
                    <th width="7%">पत्र संख्या</th>
                    <th width="9%">प्राप्त मिति</th>
                    <th width="13%">पठाउने अफिसको नाम</th>
                    <th width="15%">विषय</th>
                    <th width="15%">फाटको नाम</th>
                    <th width="9%">गएको मिति</th>
                    <th width="13%">कैफियत</th>
                    <th width="3%" class="no-arrow"></th>
                    <th width="3%" class="no-arrow"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of dartaList " class="table-light">
                    <td width="5%" class="table-light ">{{items.dartaNo}}</td>
                    <td width="8%" class="table-light ">{{items.dartaDate}}</td>
                    <td width="7%" class="table-light ">{{items.dartaPages}}</td>
                    <td width="9%" class="table-light ">{{items.dartaPagesDate}}</td>
                    <td width="13%" class="table-light ">{{items.dartaAddress}}</td>
                    <td width="15%" class="table-light ">{{items.dartaSubject}}</td>
                    <td width="15%" class="table-light ">{{items.dartaDeptName}}</td>
                    <td width="9%" class="table-light ">{{items.dartaDeptDate}}</td>
                    <td width="13%" class="table-light ">{{items.dartaRemarks}}</td>
                    <th width="3%">
                        <button (click)="dataParse(items)" data-toggle="modal" data-target="#editDarta" class="btn btn-success btn-sm">
                            <i class="fas fa-edit"></i>
                        </button>
                    </th>
                    <th width="3%">
                        <button (click)="deleteDarta(items)" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="editDarta" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">दर्ता सम्पादन</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal">
                <form [formGroup]="dartaForm" (ngSubmit)="editDarta(dartaForm.value)" id="editForm">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>दर्ता नं.</label>
                            <input type="number" class="form-control" formControlName="dartaNo" disabled placeholder="" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>दर्ता मिति</label>
                            <input type="text" class="form-control" id="dartaDateEdit" formControlName="dartaDate" placeholder="" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>प्राप्त भएको पत्र संख्या</label>
                            <span *ngIf="dartaForm.controls.dartaPages.invalid && dartaForm.controls.dartaPages.touched" style="color: red">&nbsp; &nbsp;*</span>
                            <input type="number" class="form-control" formControlName="dartaPages" placeholder="" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>प्राप्त भएको पत्रको मिति</label>
                            <input type="text" class="form-control" id="dartaPagesDateEdit" formControlName="dartaPagesDate" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>पठाउने अफिसको नाम</label>
                            <span *ngIf="dartaForm.controls.dartaAddress.invalid && dartaForm.controls.dartaAddress.touched" style="color: red">&nbsp; &nbsp;*</span>
                            <input type="text" class="form-control" formControlName="dartaAddress" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>विषय</label>
                            <span *ngIf="dartaForm.controls.dartaSubject.invalid && dartaForm.controls.dartaSubject.touched" style="color: red">&nbsp; &nbsp;*</span>
                            <textarea type="text" class="form-control" rows="3" formControlName="dartaSubject" placeholder="" required></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label>बुझिलिने फाटवालाको नाम</label>
                            <span *ngIf="dartaForm.controls.dartaDeptName.invalid && dartaForm.controls.dartaDeptName.touched" style="color: red">&nbsp; &nbsp;*</span>
                            <input type="text" class="form-control" formControlName="dartaDeptName" placeholder="" required>
                        </div>
                        <div class="form-group col-3">
                            <label>मिति</label>
                            <input type="text" class="form-control" id="dartaDeptDateEdit" formControlName="dartaDeptDate" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label>कैफियत</label>
                            <textarea type="text" class="form-control" rows="3" formControlName="dartaRemarks" placeholder=""></textarea>
                        </div>
                    </div>
                    <div id="errAlert" style="color: red" 
                        *ngIf="dartaForm.invalid
                                && dartaForm.controls.dartaPages.touched 
                                &&  dartaForm.controls.dartaAddress.touched 
                                && chalaniForm.controls.dartaDeptName.touched
                                && dartaForm.controls.dartaSubject.touched 
                                && dartaForm.controls.dartaRemarks.touched">
                        {{errAlert}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit" [disabled]="dartaForm.controls.dartaAddress.invalid == true || dartaForm.controls.dartaDeptName.invalid == true || dartaForm.controls.dartaSubject.invalid == true || dartaForm.controls.dartaPages.invalid == true">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    